* {font-family: 'Source Sans Pro', sans-serif;}
h1 {font-weight: 700;}
h2 {font-weight: 300;}
body {margin: 0;}
@import "header";
@import "homePage";
@import "contactPage";
@import "articlePage";
@import "player";
@import "footer";